<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a href="/">
        <img src="/images/title.png" alt="title" width="120px">
    </a>
    <button type="button" class="btn btn-dark" onclick="window.location.href='/'">Home</button>
</nav>
  
