<style>
    body{
        text-align: center;
    }
</style>

<h1>A File with the same name already Exists</h1>
<h2>Change the file name or upload a different file!</h2>
<p>Redirecting back in <span id="time">10</span>.......</p>

<script src="/js/error.js"></script>